.about-container {
  padding: 60px 0px 60px 0px;
  display: flex;

  background-color: rgb(45, 58, 96);
  margin: 0px;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10% 20% 10% 20%;
}

.about-picture-image {
  max-height: 500px;
  max-width: 500px;
  border-radius: 15px;
  margin-right: 40px;
  margin: 40px 40px 40px 0px;
  box-shadow: -25px 25px 1px rgba(3, 5, 11, 0.5);
  flex: 1;

  align-self: center;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  margin-top: 0px;
  margin-right: 0px;

  padding-bottom: 40px;
  padding-top: 40px;
  border-bottom: 3px solid rgb(255, 127, 80);
  border-top: 3px solid rgb(255, 127, 80);
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  margin: fit-content;
}

.description-container > div {
  margin-bottom: 30px;
  min-width: 200px;
}